.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}



.sortable {
	li {
		background: white;
		margin-bottom: .382em;
		padding: .236em 1em;

		.handle {
			background: #CCC;
			border-radius: .5em;
			cursor: move;
			display: inline-block;
			padding: .236em .618em;
		}
		.wp-picker-container {
			line-height: 2.618em;
			position: relative;
			.wp-picker-holder {
				position: absolute;
				z-index: 1;
			}
		}

		.delete {
			background: red;
			border-radius: .5em;
			border-width: 0;
			color: white;
			cursor: pointer;
			display: inline-block;
			float: right;
			opacity: .5;
			padding: .236em .618em;

			&:hover {
				opacity: 1;
			}
		}

		label {
		  	display: inline-block;
			margin: 0 2em 0 0;
		  	text-align: left;
			white-space: nowrap;
		}
	}
}



.switch-field {

  .switch-title {
    margin-bottom: 6px;
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    background-color: transparent;
    float: left;
    text-align: center;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  label:hover {
    cursor: pointer;
  }

  input:checked + label {
    background-color: #A5DC86;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  }

  label:first-of-type {
    border-radius: 4px 0 0 4px;
  }

  label:last-of-type {
    border-radius: 0 4px 4px 0;
  }

  &.vertical {
    label {
      border-radius: 0;
      clear: left;
    }
  }

}



#default_assigned_switch {
	label {
		min-width: 12em;
		text-align: left;
	}
}



#row-addons {
	.addon {
		margin: 0 1% 15px 0;
		width: 30%;

		.addon-header {
			background: #21759b;
			color: white;
			min-height: 2em;
	
			img {
				display: block;
				max-width: 100%;
			}
		}

		.addon-body {
			background: white;
			padding: 15px;

			.button {
				text-align: center;
				width: 100%;
			}
		}

	}
}


#tab-help-tab {
	opacity: .382;
	&:hover {
		opacity: 1;
	}
}



@media only screen and (max-width: 960px)
{
	.form-table label {
		color: black !important;
	}
}