.board {
	padding: 0;

	//&.all-lanes {
	//	.sidebar-toggle {
	//		display: none;
	//	}
	//}

	&.compact {

		.lane {
			padding: $margin*6 $margin/2 $margin;

			.lane-header {
				border-bottom-width: $margin;
				padding: $margin;
			}
		}

		.card {
			.panel-body {
				padding: $margin/2;

				.wrapper-form-group {

					.form-group {
						margin-bottom: $margin*.66;

						&:last-child {
							margin-bottom: $margin/2;
						}

						label {
							margin-bottom: $margin/5;
						}

						.form-control,
						.selectize-input {
							padding: $margin/5;
						}
					}

					.form-group-title .form-control {
						font-size: 1.38em;
					}
				}
			}
		}
	}

	.row-board {
		margin: 0;
		min-height: $margin*20;
		padding-top: $margin*3;
		position: relative;
		z-index: 0;

		// Mobile view
		@media screen and (max-width: $screen-sm-max) {
			margin-left: 0 !important;
			width: 100% !important;
		}

		@media only screen and (min-width: 768px) {
			// Make all lanes same height.
			display: table;
		}
	}
}

@import "./board/modal";