.card {
	border: 1px solid $color-core-200;
	margin-bottom: $margin;
	min-height: $margin*7;
	position: relative;
	//z-index: 0;

	-webkit-box-shadow: 0px 0px 0px 1px $color-core-100;
	-moz-box-shadow: 0px 0px 0px 1px $color-core-100;
	box-shadow: 0px 0px 0px 1px $color-core-100;

	//&.is-editing,
	//&.is-active {
	//	z-index: 1;
	//}

	&.show-card-id:before {
		bottom: $margin/3;
		content: 'card #' attr(data-id);
		color: rgba($color-text, .236);
		display: inline-block;
		font-size: .82em;
		font-weight: bold;
		left: $margin/3;
		line-height: 1;
		pointer-events: none;
		position: absolute;
		z-index: 0;
	}

	.wrapper-form-group {
		min-height: $margin*4;
		//margin: 0 (-$margin/2); // leaves padding in task

		&.wrapper-form-group-hidden {
			padding: 0;

			.form-group:first-child {
				margin-top: $margin;
			}
		}

		// first-child so it's only the visible field wrapper.
		&:first-child .form-group:nth-child(1),
		&:first-child .form-group:nth-child(2) {
			padding-right: $margin*3.618; // Make room for card/menu
		}

		.form-group:last-child {
			margin-bottom: $margin*1.618;
		}

	}

	@import "./card/expand";

}

@import "./card/menu"; // Must be outside card, because it's added to the body

@import './card/modal';