
.comment {
	display: block;
	position: relative;

	&.is-editing {
		.card-modal-comment-input {
			background: $color-core-50;
			min-height: 4em;
		}
	}

	.card-modal-comment-input {
		border-bottom-color: transparent;

		&:not([contenteditable]):hover,
		&:not([contenteditable]):focus {
			background-color: transparent;
			border-bottom-color: transparent;
			box-shadow: none;
		}

		&.is-system {
			opacity: .618;
			font-style: italic;
		}

		//padding-bottom: $margin/3;
		//padding-top: $margin/3;

		.attachment,
		button {
			cursor: pointer;
		}

		.attachment-img,
		img{
			display: block;
			max-width: 25%;
		}

		a {
			text-decoration: underline;
		}

	}

	.field {
		margin-bottom: 0;
	}

	.card-modal-comment-content {
		border-bottom: 2px solid $color-core-50;
		margin-bottom: $margin/2;
		margin-left: $margin*3; // Spacing for avatar.
		padding-bottom: $margin/2;

		&:hover {
			.card-modal-comment-actions {
				display: block;
			}
		}

		.card-modal-comment-actions {
			display: none;
			right: $margin/2;
			position: absolute;
			top: 0;
		}

		.card-modal-comment-edited {
			margin-bottom: 0;
		}
	}



	.btn {
		margin-top: $margin/3;
	}
}