#footer {
	background: $color-core-100;
	border: 0;
	//border-top: 1px solid rgba($color-core-full, .0618);
	border-radius: 0;
	bottom: 0;
	left: 0;
	line-height: 0; // removes space below nav. Dunno why.
	margin-bottom: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 1;

	-webkit-box-shadow: 0px (-$margin/3) 0px 0px white;
	-moz-box-shadow: 0px (-$margin/3) 0px 0px white;
	box-shadow: 0px (-$margin/3) 0px 0px white;

	.container-fluid {
		@media screen and (min-width: $screen-sm-min) {
			display: inline-block;
		}
	}

	.navbar-header {
		text-align: center;
	}

	.navbar-toggle {
		float: none;
		margin: (-$margin/3) 0;
		vertical-align: middle;
	}

	.navbar-collapse,
	.navbar-form {
		border: 0;
	}

	[type="search"] {
		background: transparent;
		border: 0;
		border-bottom: 2px solid $color-core-500;
		border-radius: 0;
		box-shadow: none;
	}

	#app-ajax-loading {
		display: none;
		position: absolute;
		right: $margin;
		top: $margin;
	}

	.btn {
		background: transparent;
		border: 0;
		box-shadow: none;
		color: $color-text;

	}

	@import "./footer/app-notice";
}

