#header {
	background: $color-core-100;
	border: 0;
	z-index: 1;

	-webkit-box-shadow: 0px $margin/3 0px 0px white;
	-moz-box-shadow: 0px $margin/3 0px 0px white;
	box-shadow: 0px $margin/3 0px 0px white;

	#header-board-tabs-add-new {
		padding: 12px $margin;
		.ei {
			font-size: 1.618em;
		}
	}
}
