.lane {
	background: white;
	padding: $margin*7 $margin;
	position: relative;
	z-index: 0;

	// Mobile view
	@media screen and (max-width: $screen-sm-max) {
		width: 100% !important;

		display: none;

		&.active {
			display: block;
		}
	}

	// Make all lanes same height.
	@media only screen and (min-width: 768px) {
		float: none;
		display: table-cell;
		vertical-align: top;
	}

	&:nth-of-type(odd) {
		background: $color-core-25;

		.lane-header {
			&:before {
				background: $color-core-25;
			}

			&:after {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+10,ffffff+100&1+10,0+100 */
				background: -moz-linear-gradient(top, rgba($color-core-25, 1) 10%, rgba($color-core-25, 0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba($color-core-25, 1) 10%, rgba($color-core-25, 0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba($color-core-25, 1) 10%, rgba($color-core-25, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
			}
		}
	}

	.lane-wrapper-header {

		left: 0;
		padding: 0;
		position: absolute;
		top: 0;
		z-index: 2;
	}

	.lane-header {
		border-bottom: 30px solid transparent; // make the after area clickable
		padding: $margin*2 0 $margin*2;
		position: fixed;
		text-align: center;
		width: 100%;
		z-index: 1;

		&:before {
			background: white;
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 0;
		}

		&:after {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+10,ffffff+100&1+10,0+100 */
			background: -moz-linear-gradient(top, rgba(white, 1) 10%, rgba(white, 0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(white, 1) 10%, rgba(white, 0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(white, 1) 10%, rgba(white, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */

			content: '';
			height: $margin*1.618;
			left: 0;
			position: absolute;
			pointer-events: none;
			top: 100%;
			width: 100%;
		}

		// Mobile view
		@media screen and (max-width: $screen-sm-max) {
			width: 100% !important;
		}

		> * {
			z-index: 1;
		}

		.lane-header-menu {
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			right: $margin/2;
			top: $margin/2;
			//transition: visibility .125s, opacity .125s linear;
			z-index: 0;

			> * {
				display: block;
				line-height: 1;
			}

			.lane-move-handle {
				cursor: move;
				font-size: 1.618em;
				//
				i {
					-ms-transform: rotate(90deg); /* IE 9 */
					-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
					transform: rotate(90deg);
				}
			}

			.lane-edit {
				font-size: 1em;
			}
		}

		&:hover {
			.lane-header-menu {
				opacity: 1;
				pointer-events: auto;
				visibility: visible;
				//transition-delay: .25s;
			}
		}

		.lane-label {
			border: 1px solid;
			border-width: 0 0 2px 0;
			color: rgba($color-text, .618);
			// font-family: 'Abel', sans-serif;
			font-size: 1.382em;
			//font-weight: bold;
			position: relative;
		}

		.lane-add-card {
			background: transparent; // $color-core-full;
			bottom: -$margin/2;
			cursor: pointer;
			left: 50%;
			margin-left: -25%;
			opacity: .236;
			padding-left: 0;
			padding-right: 0;
			position: absolute;
			width: 50%;

			@media screen and (max-width: $screen-sm-max) {
				left: 0;
				margin-left: 0%;
				width: 100%;
			}

			&:hover {
				opacity: 1;
			}

			i {
				font-size: 2em;
				line-height: .82;
				vertical-align: middle;
			}
		}

	} // lane-header


	.wrapper-cards {
		min-height: calc(100vh - #{$margin*15});
		padding-bottom: $margin*3;

		.sortable-placeholder {
			min-height: $margin*8;
		}
	}
}

@import './lane/sidebar';
