#modal {

	#modal-header {
		background: $color-core-100;

		padding: 0;

		.navbar-toggle {
			.icon-bar {
				background: $color-core-600;
			}
		}

		#modal-navbar {
			padding-left: 0;
			padding-right: 0;

			.nav {
				width: 100%;
			}
		}
	}


	.modal-body {
		padding-bottom: $margin*2;
		padding-top: 0;

		.panel-group {
			label {
				display: block;
			}
		}
	}

	// User, usergroup tabs.
	.wrapper-form-group-toggles {
		margin-bottom: $margin*2;

		h5 {
			margin-bottom: 0;
		}

		.btn-group {
			margin-top: $margin;
		}

		.form-group-toggle {
			margin: 0;

			> div {
				padding: $margin/2 0;
			}

			// https://davidwalsh.name/css-slide
			overflow-y: hidden;
			max-height: $margin*6; /* approximate max height */

			transition-property: all;
			transition-duration: .382s;

			&:after {
				background: $color-core-100;
				content: '';
				clear: both;
				display: block;
				height: 1px;
			}

			&.hide-admin,
			&.hide-section {
				max-height: 0;
			}

			&.form-group-title {
				> div {
					padding-top: $margin*2;
				}

				h5 {
					font-weight: bold;
				}

				&:after {
					height: 2px;
					background: $color-core-500;
				}
			}
		}
	}

	.panel-group .panel,
	.panel {
		border-radius: 0;
		border: 0;
		border-top: $margin/5 solid $color-core-400;
		box-shadow: none;

		.panel-heading {
			border-radius: 0;
			border: 0;
		}

		.panel-body {
			border: 0 !important;
		}

		&:last-child {
			border-bottom: $margin/5 solid $color-core-400;
		}
	}

	.close {
		position: absolute;
		right: $margin;
		top: $margin;
		z-index: 1;
	}

	.list-of-thing-modal-container {
		padding-bottom: 10px;
	}
}



