#row-tasks {
	margin: 0;
	position: relative;
	z-index: 0;

	> .col-tasks {
		padding: 100px 5px 200px;
		position: relative;

		&:hover,
		&.hover {
			background: lighten($color-blue-wp, 60);
		}

		> h2 {
			display: none;
		}

		.task-placeholder {
			background: white;
			border: 1px dashed lighten($color-grey-wp, 10);
			margin-bottom: $margin;
			opacity: .618;
			min-height: $margin*10;
		}

		@media screen and (max-width: $screen-sm-max) {
			display: none;
			height: auto !important;
			padding: 6em 0 0;
			width: 100%;

			&:first-child {
				display: block;
			}

			> h2 {
				left: 0;
				position: absolute;
				text-align: center;
				top: 0;
				width: 100%;
			}
		}

	}

	.task {
		margin-bottom: $margin;
		padding-left: $margin/2;
		position: relative;

		&.active {
			z-index: 10;
		}

		[contenteditable] {
			// firefox hack
			@-moz-document url-prefix() { 
				min-height: 1.618em;
			}

			padding: $margin/5;

			[contenteditable] {
				margin: 0;
				padding: 0;
			}

			&:hover,
			&:focus {
				background: #EEE;
			}
		}

		[contenteditable=false] {
			word-wrap: break-word;
		}


		.panel-body {
			padding: $margin/3 $margin/2;
			position: relative;
			z-index: 1;
		}

		.task-id {
			border: 2px solid transparent;
			font-weight: normal;
			position: absolute;
			right: $margin/3;
			top: $margin/3;
			z-index: 1;

			.task-id-menu {
				position: relative;
			}

			.badge,
			> .glyphicon {
				cursor: pointer;
				display: block;
				font-weight: normal;
				opacity: .8;
				text-align: center;

				&:hover {
					opacity: 1;
				}
			}

			.badge {
				background: #777;
			}

			.glyphicon {
				border-radius: $margin/3; 
				color: #777;
				font-size: 1.618em;
				// margin-top: $margin/3;
				padding: $margin/3 0;
				&:hover {
					background: #777;
					color: white;
				}
			}
		}

		.project {
			margin: 0 (-$margin/5);
			padding: 0;
			position: relative;
			width: 66%;
			z-index: 1;

			.list-group {
				-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
				left: 0;
				list-style: none;
				position: absolute;
				top: 100%;
				z-index: 1;
				width: 100%;

				.list-group-edit {
					position: absolute;
					right: $margin/5;
					top: $margin/5;
					z-index: 1;

					a {
						font-size: .82em;
						text-decoration: underline;
					}
				}

				.list-group-item {
					cursor: pointer;

					&:hover {
						background: #DDD;
					}
				}
			}
		}

		.wrapper-task-title {
			margin: 0 (-$margin/5) $margin/5;
			padding: 0;

			.task_title {
				font-weight: normal;

				@media screen and (max-width: $screen-sm-max) {
					height: 2.382em !important;
					font-size: 2em;
				}
			}
		}

		.row-worked {
			margin: 0 0 $margin/3;

			.btn-title {
				color: #999;
				font-size: .82em;
				display: block;
			}

			> .col {
				padding: 0;
			}

			.col > .btn {
				background: transparent;
				border: 0;
				padding: $margin/3;
				width: 100%;

				&:hover {
					background: lighten($color-grey-wp, 65);
				}
			}

			.dropdown-menu {
				.btn {
					background: transparent;
					border-bottom: 1px solid lighten($color-grey-wp, 45);
					border-radius: 0;
					text-align: left;

					&:hover {
						background: lighten($color-grey-wp, 65);
					}
				}

				li:last-child .btn {
					border-bottom-width: 0;
				}
			}

		}

		.task-assigned-to-initials {
			background: black;
			border-radius: 50%;
			color: white;
			display: block;
			height: 2em;
			line-height: 2;
			margin: 0 auto;
			width: 2em;

			img {
				border-radius: 50%;
				height: 2em;
				width: 2em;
			}

			&.empty {
				background: lighten($color-grey-wp, 45);
				color: lighten($color-grey-wp, 45);
			}
		}

		.col-task-hours {
			position: relative;

			.task-hours-operators {
				display: none;
				left: 0;
				position: absolute;
				top: 100%;
				width: 100%;

				&.active {
					display: block;
				}

				.btn {
					width: 50%;
				}
			}

			&:hover {
				.task-hours-operators {
					display: block;
				}
			}
		}

		.btn-task-hours,
		.btn-estimate {
			overflow: hidden;
		}

		.task-estimate,
		.task-hour-count {
			font-size: 1.618em;
			line-height: 1;
		}

		.progress {
			height: $margin/3;
			margin-bottom: 0;
		}

		.task-handle {
			background-color: lighten($color-grey-wp, 45);
			cursor: move;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: $margin/2;
		}

		@media screen and (max-width: $screen-sm-max) {
			margin-left: $margin/3;
			margin-right: $margin/3;
		}

	}

	@media screen and (max-width: $screen-sm-max) {
		left: 0% !important;
		width: 100%;
	}

} // row-tasks