.card-menu {
	position: absolute;
	right: 0; // $margin/5;
	top: 0;
	z-index: 1;

	> * {
		display: block;
		line-height: 1;
	}

	> .btn {
		width: $margin*3;
	}


	.card-edit {
		font-size: 1em;
		position: relative;

		i {
			padding: 2px 0;
		}

		&:hover {
			.card-edit-menu {
				height: auto;
				width: auto;

				opacity: 1;
				transition: opacity .5s step-end;

			}
		}
	}

	.card-move-handle {
		cursor: move;
		font-size: 1.618em;
		letter-spacing: -5px;
		padding-bottom: 2px;


			-ms-transform: rotate(90deg); /* IE 9 */
			-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			transform: rotate(90deg);

	}

	.card-comments {
		font-size: 1em;
		position: relative;

		i {
			padding: 2px 0;
		}

		.card-comments-count {
			background: $color-core-600;
			border-radius: .5em;
			color: white;
			font-size: .82em;
			padding: 2px;
			position: absolute;
			right: -5px;
			top: 0px;
		}
	}

}


.card-actions {
	.btn {
		margin-bottom: 2px;
	}
}