#card-modal {

	.modal-content {

		&:before {
			bottom: $margin/3;
			content: 'card #' attr(data-id);
			color: rgba($color-text, .142);
			display: inline-block;
			font-size: 1.382em;
			font-weight: bold;
			left: $margin/3;
			line-height: 1;
			pointer-events: none;
			position: absolute;
			z-index: 0;
		}
	}

	#card-modal-lane-selector {
		text-align: center;
		.btn-group {
			display: inline-block;

			button {
				margin-right: $margin;
				position: relative;

				@media screen and (max-width: $screen-sm-max) {
					width: 98%;
				}

				&:not(:last-child) {
					&:after {
						content: '';
						height: 100%;
						position: absolute;
						left: 100%;
						top: 0;
						width: 0;

						border-top: $margin solid transparent;
						border-bottom: $margin solid transparent;
						border-left: $margin solid $color-core-100;
					}
				}

				&:hover,
				&.active {
					&:after {
						border-left-color: $color-core-200;
					}
				}
			}
		}
	}

	#wrapper-card-modal-comments {
		height: calc(100vh - #{$margin*10});
		display: flex;
		flex-direction: column;
		overflow: hidden;

	}

	#card-modal-comments-list {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		overflow-x: hidden;
		flex-grow: 1;

		.comment:last-child {
			.card-modal-comment-content {
				border: 0;
			}
		}

		.ei-loading {
			margin: $margin auto;
			width: 1em;
		}
	}

	#card-modal-comment-form {
		border-top: $margin/5 solid $color-core-300;
		padding-top: $margin;
		flex-shrink: 0;

		//-webkit-box-shadow: 0 0 ($margin/5) 0 $color-core-300;
		//-moz-box-shadow: 0 0 ($margin/5) 0 $color-core-300;
		//box-shadow: 0 0 ($margin/5) 0 $color-core-300;

		.card-modal-comment-input {
			min-height: 4em;
		}

		.card-modal-comment-content {
			border: 0;
		}

		.wrapper-contenteditable {
			position: relative;
		}

		.form-group {
			margin-bottom: 0;
		}
	}
}