$sidebar-size: $margin*12;


.sidebar-toggle {
	background: $color-core-100;
	border: $margin/5 solid white;
	border-radius: 50%;
	opacity: .618;
	z-index: 1;

	cursor: pointer;
	height: $sidebar-size;
	position: fixed;
	margin-top: -$sidebar-size/2;

	top: 50%;
	width: $sidebar-size;
	z-index: 10;

	&:hover,
	&:active {
		opacity: .92;
	}

	&.sidebar-toggle-left {
		left: -$sidebar-size/1.5;

		.ei {
			margin-left: 60%;
		}
	}

	&.sidebar-toggle-right {
		right: -$sidebar-size/1.5;

		.ei {
			margin-right: 60%;
		}
	}

	.ei {
		font-size: 4em;
		line-height: $sidebar-size;
		text-align: center;
		width: 40%;
	}
}
