$margin: 15px;

$height-board-tabs: $margin*2.6;

$color-kanban-green: #90c745;

$color-red: #fd7057; // tomato
$color-red-text: darken($color-red, 20);

$color-green: #65EF74;
$color-green-text: darken($color-green, 20);
$color-blue: #57B2FD;
$color-violet: #c457fe;
$color-orange: #fec458;
$color-yellow: #e5fe57;


//$color-core-full: #050608;
//$color-core-25: lighten($color-core-full, 96);
//$color-core-50: lighten($color-core-full, 94.5);
//$color-core-100: lighten($color-core-full, 90);
//$color-core-200: lighten($color-core-full, 80);
//$color-core-300: lighten($color-core-full, 70);
//$color-core-400: lighten($color-core-full, 60);
//$color-core-500: lighten($color-core-full, 50);
//$color-core-600: lighten($color-core-full, 40);
//$color-core-700: lighten($color-core-full, 30);
//$color-core-800: lighten($color-core-full, 20);
//$color-core-900: lighten($color-core-full, 10);

$color-core-500: #5FBBF5;
$color-core-25: desaturate(lighten($color-core-500, 32), 20);
$color-core-50: desaturate(lighten($color-core-500, 30), 18);
$color-core-100: desaturate(lighten($color-core-500, 27), 16);
$color-core-200: desaturate(lighten($color-core-500, 21), 12);
$color-core-300: desaturate(lighten($color-core-500, 14), 8);
$color-core-400: desaturate(lighten($color-core-500, 7), 4);
$color-core-600: darken($color-core-500, 10);
$color-core-700: darken($color-core-500, 20);
$color-core-800: darken($color-core-500, 30);
$color-core-900: darken($color-core-500, 40);
$color-core-full: darken($color-core-500, 50);

$color-text: $color-core-full; // #053350

// Responsive sizes from bootstrap
$screen-xs-min: 480px;
$screen-xs-max: 479px;
$screen-sm-min: 768px;
$screen-sm-max: 767px;
$screen-md-min: 992px;
$screen-md-max: 991px;
$screen-lg-min: 1200px;
$screen-lg-max: 1199px;
