.form-group-date {
	.form-control {
		background: transparent;
	}

	.col-divider {
		color: $color-core-300;
		font-size: 1.618em;
		line-height: 1;
		padding: 0;
	}

	
	.horizContainer {
		position: relative;
	}
	
	.horizContainer span.datetimeago {
		position: absolute;
		right: 0;
		top: 0;
	}
}

