.form-group-radio {

	.btn-group,
	.btn-group-vertical {
		border-radius: 0;

		&.disabled {
			.btn {
				//padding: 2px;
				&:before {
					//display: none;
				}
			}
		}

		input {
			display: none;
		}

		.btn {
			background: $color-core-50;
			border: 0 !important;
			border-radius: 0 !important;


			-webkit-box-shadow: inset $margin/3 0px 0px 0px $color-core-100;
			-moz-box-shadow: inset $margin/3 0px 0px 0px $color-core-100;
			box-shadow: inset $margin/3 0px 0px 0px $color-core-100;

		}

		input:checked + .btn {
			//color: darken($color-green, 20);

			-webkit-box-shadow: inset $margin/3 0px 0px 0px $color-green;
			-moz-box-shadow: inset $margin/3 0px 0px 0px $color-green;
			box-shadow: inset $margin/3 0px 0px 0px $color-green;

		}
	}

	.btn-group-vertical {
		.btn {
			&:first-of-type:not(:first-child) {
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}

			&:hover,
			&:active {
				-webkit-box-shadow: inset $margin/3 0px  0px 0px rgba($color-core-300, .382);
				-moz-box-shadow: inset $margin/3 0px  0px 0px rgba($color-core-300, .382);
				box-shadow: inset $margin/3 0px  0px 0px rgba($color-core-300, .382);

			}
		}
	}
}