.form-group-time {

	.col {
		position: relative;

		&:hover .btn-group {
			display: block;
		}

		&:after {
			color: $color-core-300;
			content: attr(data-label);
			display: block;
			line-height: 2.5;
			pointer-events: none;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.col-divider {
		color: $color-core-300;
		font-size: 1.618em;
		line-height: 1.236;
		padding-right: 0;
	}

	.btn-group {
		display: none;
		left: $margin;
		position: absolute;
		right: $margin;
		top: 100%;
		min-width: 6em;
		width: auto;
	}

}