.form-group-title {

	.form-control {
		color: rgba($color-text, .618);
		font-size: 1.618em;
		line-height: 1.236;
		min-height: calc(1em + #{$margin/3*2});

		* {
			// font-family: 'Abel', sans-serif;
		}

		.emoji {
			height: $margin*2;
			margin-top: -$margin/3;
			vertical-align: middle;
		}
	}
}