.form-group-todo {

	.list-group-item {
		border: 0;
	}

	[type="checkbox"] {
		display: none;

		+ .todo-checkbox {
			display: inline-block;
			+ .todo-checkbox {
				display: none;
			}
		}

		&:checked + .todo-checkbox {
			display: none;
			+ .todo-checkbox {
				display: inline-block;
				+ .todo {
					opacity: .618;
					text-decoration: line-through;
				}
			}
		}

	}

	.todo {
		margin: 0 $margin;
	}

	.todo-checkbox {
		float: left;
		font-size: $margin*1.5;
		margin-left: -$margin;
	}

	.todo-move-handle {
		margin-right: (-$margin)*2;
		margin-top: (-$margin)/2;
	}
}