.form-group-todo {

	.panel {
		border-top: 2px solid $color-core-100;
		.panel-heading {
			background: none;
		}

		&:last-child {
			border-bottom: 2px solid $color-core-100;
		}
	}

	.panel-title {
		margin: 0 $margin;

		[type="checkbox"] {
			display: none;

			+ .todo-checkbox {
				display: inline-block;
				+ .todo-checkbox {
					display: none;
				}
			}

			&:checked + .todo-checkbox {
				display: none;
				+ .todo-checkbox {
					display: inline-block;
					+ .todo {
						text-decoration: line-through;
					}
				}
			}

		}
	}

	.todo {
		text-align: justify;
	}

	.todo-checkbox {
		float: left;
		font-size: $margin*1.5;
		margin-left: (-$margin)*2;
	}

	.todo-move-handle {
		margin-right: (-$margin)*2;
		margin-top: (-$margin)/2;
	}
}