.form-group-toggle {

	.btn-group {
		background: $color-core-50;
		border: 0;
		color: $color-text;

		//border-radius: 4px;

		//-webkit-box-shadow: inset 0px 0px 0px 1px $color-core-300;
		//-moz-box-shadow: inset 0px 0px 0px 1px $color-core-300;
		//box-shadow: inset 0px 0px 0px 1px $color-core-300;


		//&.disabled {
		//	.btn {
		//		&:after {
		//		}
		//	}
		//}

		input {
			display: none;
		}

		.btn {
			border: 0;
			//color: $color-green-text;
			height: auto;
			//padding: 2px;
			//padding-left: $margin/2;
			position: relative;
			width: 100%;

			&:active {
				background: $color-core-500;
			}

			&:hover,
			&:focus {
				//color: white;
			}

			&:before {
				background: $color-green;
				//border-radius: $margin;
				bottom: 0;
				content: '';
				display: block;
				//height: $margin*1.618;
				left: 0;
				position: absolute;
				top: 0;
				width: $margin/3;
			}
		}

		.btn:last-child {
			//color: $color-red-text;
			//padding: 2px;
			//padding-right: $margin/2;

			&:before {
				background: $color-red;
				right: 0;
				left: auto;
			}
		}

		input:checked + .btn {
			height: 0;
			padding: 0;
			overflow: hidden;
		}
	}

}